<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
    <meta name="description" content="<%- define.description %>">
    <meta property="og:title" content="<%- define.title %>" />
    <meta property="og:description" content="<%- define.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- define.mergedHead %>
  </head>
  <style>
    body {
      margin: 0;
      width: 100%;
    }

    #app {
      min-height: 100%;
      width: 100%;
    }
  </style>
  <body>
    <div id="app"></div>
  </body>
</html>
